In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn import metrics
from sklearn.compose import ColumnTransformer, make_column_selector
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.pipeline import Pipeline

#from skopt import BayesSearchCV
import pickle
import datetime
import streamlit as st

df = pd.read_csv('../Data/salary_cleaned.csv')

In [6]:


df = pd.read_csv('../Data/salary_cleaned.csv')

with open('../Models/totalcomp_gs_gbr2.pkl', 'rb') as f:
    gs_gbr2 = pickle.load(f)

#with open('../Models/ColumnTransformer.pkl', 'rb') as f:
    #ct_pkl = pickle.load(f)

X = df[['company', 'title', 'yearsofexperience', 'yearsatcompany', 'year', 'month', 'state', 'inflation_rate',
            'inflation_rate_3mos', 'employment_rate', 'employment_rate_3mos']].copy()
X_dummy = pd.get_dummies(X, columns = ['company', 'title', 'state'], drop_first = True)
y = df[['totalyearlycompensation']].copy()

X_train, X_test, y_train, y_test = train_test_split(X_dummy, y, random_state = 42)

#Feature Scaling
sc = StandardScaler()

X_train_sc = sc.fit_transform(X_train)

In [7]:
X_train_sc.shape

(18372, 1351)

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn import metrics
from sklearn.compose import ColumnTransformer, make_column_selector
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.pipeline import Pipeline

#from skopt import BayesSearchCV
import pickle
import datetime
import streamlit as st

df = pd.read_csv('../Data/salary_cleaned.csv')

with open('../Models/totalcomp_gs_gbr2.pkl', 'rb') as f:
    gs_gbr2 = pickle.load(f)

#with open('../Models/ColumnTransformer.pkl', 'rb') as f:
    #ct_pkl = pickle.load(f)

df['year'] = df['year'].astype(str)
df['month'] = df['month'].astype(str)

features_short = ['company', 'title', 'yearsofexperience', 'yearsatcompany', 'year', 'month', 'state', 'inflation_rate', 'inflation_rate_3mos', 'employment_rate', 'employment_rate_3mos']

X = df[features_short]
y = df['totalyearlycompensation']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

ohe = OneHotEncoder(handle_unknown='ignore', sparse=False)
X_train_ohe = ohe.fit_transform(X_train)

sc = StandardScaler()
X_train_ohe_sc = sc.fit_transform(X_train_ohe)

In [18]:
X_train_ohe_sc.shape

(18372, 2661)

In [10]:
X

,company,title,yearsofexperience,yearsatcompany,year,month,state,inflation_rate,inflation_rate_3mos,employment_rate,employment_rate_3mos
0,Yahoo,Software Engineer,0.58,0.58,2018,6,California,0.029,0.024,0.957660,0.956797
1,Facebook,Software Engineer,1.00,1.00,2018,6,Washington,0.029,0.024,0.955998,0.954978
2,VmWare,Software Engineer,8.00,1.00,2018,6,California,0.029,0.024,0.957660,0.956797
3,Uber,Software Engineer,3.00,0.00,2018,6,California,0.029,0.024,0.957660,0.956797
4,Capital One,Software Engineer,8.00,2.00,2018,6,New York,0.029,0.024,0.959053,0.955962
...,...,...,...,...,...,...,...,...,...,...,...
24491,Apple,Software Engineer,4.00,4.00,2020,9,California,0.014,0.006,0.889769,0.850777
24492,Slalom,Solution Architect,8.00,2.00,2020,9,Colorado,0.014,0.006,0.935821,0.893980
24493,General Motors,Software Engineering Manager,20.00,7.00,2020,9,Texas,0.014,0.006,0.916631,0.916280
24494,Albertsons,Software Engineer,20.00,0.00,2020,9,California,0.014,0.006,0.889769,0.850777
24495,Amazon,Software Engineering Manager,15.00,3.00,2020,9,Colorado,0.014,0.006,0.935821,0.893980